<div id="<%= dom_id vacbib %>">

    <strong class="font-medium mb-1"><%= vacbib.category %></strong> - 
    <a href="/vacbibs/<%= vacbib.id %>" class="font-medium mb-1 text-4xl" %> <%= vacbib.title %></a>

<p>
  <% if action_name != "show" %>
    <%= link_to "Show this vacbib", vacbib, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this vacbib', edit_vacbib_path(vacbib), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</p>
</div>
