<div class="mx-auto max-w-7xl px-4">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
      <main class="mx-auto max-w-7xl px-4">
      <div class="text-center">
        <h1 class="font-bold text-5xl">Gebruik deze <%= @vacbibs.count %> vacatureteksten als basis.</h1>
        <p class="mx-auto mt-3 max-w-md text-base text-gray-900 sm:text-lg md:mt-5 md:max-w-3xl md:text-xl">
        Kies gratis vacatureteksten die verantwoordelijkheden, taken en vereisten voor meer dan 2.00 jobs dekken.
        
        </p>
        
        <% if user_signed_in? %>
            Logged in as <strong><%= current_user.id %></strong>.
            <%= link_to 'Nieuwe vacature toevoegen', "/vacbibs/new", class: " max-w-sm rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
          <% else %>
        <% end %>
      </div>
      </main>
  <div id="vacbibs" class="min-w-full p-10 text-start grid border m-10">
    <% if @vacbibs.count == 0 %>
    <%= Coming soon %>
    <% else %>
    <%= render @vacbibs %>
    <% end %>
  </div>
</div>
