<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <strong class="font-medium mb-1"><%= @vacbib.category %></strong> - 
    <a href="/vacbibs/<%= @vacbib.id %>" class="font-medium mb-1 text-4xl" %> <%= @vacbib.title %></a>
    <p class="m-10">
      <%= @vacbib.body %>
    </p>
    <p>
        <div class="inline-block p-10">
        <%= link_to 'Back to vacbibs', vacbibs_path, class: " py-3 px-5 bg-gray-100 inline-block font-medium" %>
        </div>
    </p>
  </div>
</div>
